body{
    color: rgb(75, 40, 40);
    overflow-x: hidden;
}

.fundo{
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    z-index: 10;
    height: 100%;
    top: 0;
    border-radius: 8px;
}

div::-webkit-scrollbar {
    display: none;
  }

.fundoo{
    background-color: #000;
    opacity: 0.2;
    position: absolute;
    width: 44.4%;
    z-index: 10;
    height: 100%;
    top: 0;
    border-radius: 10px;
}

#divBusca{
    width: 165px;
    height:35px;
    float:right;
    background: #a6130a;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0px;
    margin-right: 25px;
    transition: width 0.5s ease;
}

#divBusca.alteraCaixa{
    background-color: #00FFFF;
    border-radius:5px;
    width:250px;
    height:35px;
    float:right;
    margin-right: 25px;
    padding: 0px 0px 0px 8px;
    margin-top: 20px;
    margin-bottom: 0px;
    transition: width 0.5s ease;
    opacity: 1;
    color: #5c5b5b;
  }
  
  #txtBusca{
    background-color:transparent;
    font-size:15px;
    border:none;
    height:22px;
    width:108px;
    padding: 10px 0 10px 0;
    outline: none;
    margin-top: 7px;
  }

  
#lupa{
    padding-top: 10px;
    float: left;
    height: 28px;
    width: 28px;
    fill: #FFFF;
}

.colunas{
    justify-content: space-around;
}

.overlay{
    position: relative;
}

.divisor{
    width: 1px;
    height: 10px;
    background: #dddddd;
    margin: 15px 0px;
    padding: 0px;
}

.navbar{
    min-height: 0px;
    margin-bottom: 0px;
    height: 100px;
}

.navbar-brand{
    padding: 0px 2px 10px 2px;
}

.container{
    padding-left: 0px;
}

#bloco{
    padding: 5px 5px 3px 20px;
    width: 100px;
    height: 50px;
}

.form-control{
    fill: #fff;
    border: none;
    background-color: rgb(167, 20, 10);
    color: black;
    position: absolute;
    display: block;
    right: 10px;
    width:100%;
    height: 20px;
    font: inherit;
    margin-top: 15px;
    padding: 5px 5px 3px 20px;
}


  input::placeholder{
    font-size: 13px;
    font-weight:bold;
    color: white;
  }
  

#ass{
    color: #999;
    font-size: 12px;
    padding: 10px 15px 13px 4px;
    vertical-align: top;
    height: 15px;
}

#ass:hover{
    color: rgb(89, 172, 234);
}

#botao{
    padding: 2px 1px;
    color: #8b8a8a;
    font-size: 12px;
    background: #f9f9f9;
    width: 65px;
    height: 23px;
}

#botao:hover{
    color: rgb(89, 172, 234);
}

#senha{
    width: 100px;
}

#nave{
    height: 20px;
    width: 100%;
}

#imglogo{
    display: flex;
    margin-top: 15px;
    margin-left: 410px;
}

#img{
    margin-left: 15px;
    margin-top: 12px;
}

#banner{
    display: flex;
    justify-content: center;
    height: 380px;
    width: 100%;
    margin-top: 150px;
    margin-bottom: -100px;
    padding-bottom: 180px;
}

#banner2{
    margin-top: 50px;
    margin-bottom: -50px;
    padding-bottom: 180px;
    display: flex;
    justify-content: center;
    height: 380px;
    width: 100%;
}

#banner3{
    display: flex;
    justify-content: center;
    height: 380px;
    width: 100%;
}

#nav2{
    background: rgb(196, 23, 12);
    width: 100%;
    height: 75px;
}


#botao{
    margin-top: 10px;
    margin-right: 20px;
    padding: 2px 1px;
}

#azul{
    color: rgb(24, 113, 214);
    font-weight: bold;
    font-size: 16px;
    margin-left: 3px;
    margin-right: 1px;
    padding: 9px 7px 12px;
    letter-spacing: -0.02em;
}
#azul:hover{
    color: rgb(90, 162, 235);
}

#bordo{
    color: rgb(196, 23, 12);
    font-weight: bold;
    font-size: 16px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 9px 7px 0px;
    letter-spacing: -0.02em;
}

#bordo:hover{
    padding: 7px 7px 0px;
    border-top: 2px solid rgb(196, 23, 12);
}

#verde{
    color: rgb(6, 170, 72);
    font-weight: bold;
    font-size: 16px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 9px 7px 0px;
    letter-spacing: -0.02em;
}

#verde:hover{
    border-top: 2px solid rgb(6, 170, 72);
    padding: 7px 7px 0px;
}

#laranja{
    color: rgb(255, 103, 0);
    font-weight: bold;
    font-size: 16px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 9px 7px 0px;
    letter-spacing: -0.02em;
}

#laranja:hover{
    padding: 7px 7px 0px;
    border-top: 2px solid rgb(255, 103, 0);
}

#verm{
    color: rgb(238, 61, 78);
    font-weight: bold;
    font-size: 16px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 9px 7px 0px;
    letter-spacing: -0.02em;
}

#verm:hover{
    padding: 7px 7px 0px;
    border-top: 2px solid rgb(238, 61, 78);
}

#azul-marinho{
    color: rgb(30, 76, 154);
    font-weight: bold;
    font-size: 16px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 9px 7px 0px;
    letter-spacing: -0.02em;
}

#azul-marinho:hover{
    padding: 7px 7px 0px;
    border-top: 2px solid rgb(30, 76, 154);
}

.nav .navbar-nav .navbar-left{
    padding: 0px;
}

.col-md-6{
    margin-top: 30px;
    padding-left: 10px;
}

.ola{
    background: #fff;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 10px;
    width: 90.5%;
    height: 600px;
    margin-left: 75px;
    padding: 200px 15px 0px 25px;
    color: #c4170c;
    letter-spacing: -0.035em;
    position: relative;
}

.ola:hover{
    color: rgb(166, 19, 10);
}

.ola2:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}


.ola2 img{
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.ola2 h2{
    color: #fff;
    font-size: 34px;
    font-weight: bolder;
    position: relative;
    margin-top: -194px;
    padding-bottom: -13px;
    padding-left: 20px;
    margin-right: 10px;
}

h2{
    text-align: left;
    font-size: 42px;
    font-weight: bolder;
    z-index: 11;
    letter-spacing: -0.035em;
 }

.ola h4{
    margin-top: -176px;
    margin-bottom: 140px;
    color: rgb(61, 61, 61);
    font-size: 17px;
 }


 .ola2 p{
    color: #fff;
    position: relative;
    padding-left: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 500;
    z-index: 11;
    font-size: 15px;
 }

 .ola p{
    margin-top: 20px;
    color: rgb(95, 93, 93);
    font-size: 17px;
 }

.ola2{
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    width: 89%;
 }

 .caixas{
    margin: -5px 10px 15px 70px;
    padding-top: 0px;
 }

 .caixas2 hr{
    padding: -50px;
    margin-top: 10px;
    margin-bottom: -15px;
 }

 .seta{
    fill: red;
 }

.col-md-4 a{
    text-decoration: none;
    margin-left: -15px;
    color: #c4170c;
    font-weight: bold;
    padding: 16px 24px;
    align-items: left;
    display: flex;
    width: 406px;
    height: 100%;
    background: #fff;
    border-top: 0.5px solid #d1d0d0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
 }

 .col-md-4 img{
    margin-top: 6px;
    margin-left: 10px;
    width: 3%;
    height: 3.5%;
 }

 .caixas h3{
    color: #c4170c;
    font-size: 14px;
    margin: 10px 0px 0px 380px;
 }

 .caixas h3:hover{
    color: rgb(166, 19, 10);
 }

 .caixas h4{
   color: rgb(61, 61, 61);
   font-size: 16px;
   font-weight: 550;
   margin: -195px 0px 0px 380px;
 }

 .caixas h5{
    font-size: 17px;
    color: rgb(85, 85, 85);
    margin: 10px 0px 10px 380px;
 }

 .caixas h2{
    margin: 10px 10px 0px 380px;
    font-size: 25px;
    color: #c4170c;
 }

.small{
    height: 100%;
    width: 360px;
    border-radius: 10px;
}

.caixas span{
    margin: 10px 0px 0px 380px;
    font-size: 12px;
    color: rgb(85, 85, 85);
}


.caixas2 img{
    height: 100%;
    width: 100px;
    float: right;
    margin-top: 0px;
    border-radius: 10px;
    margin-right: 20px;
}

.caixas2{
    height: 100%;
    width: 100%;
}

.col-md-4{
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgb(224, 221, 221);    
    width: 408px;
    height: 100%;
}

.col-md-4 p{
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin: 0px -15px 0px -15px;
    padding: 15px 0px 15px 20px;
    border-bottom: 1px solid rgb(224, 221, 221); 
}

hr {
    margin-top: 80px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #e2e0e0;
}
.caixas2 h5{
    font-size: 15px;
    font-weight: bold;
    color: #c4170c;
    padding-bottom: 0px;
    padding-top: 5px;
    margin-right: 140px;
    margin-bottom: 60px;
}

.caixas2 h5:hover{
    color: rgb(166, 19, 10);
}

#predio{
    width: 100%;
    height: 300px;
    padding-right: 83px;
    margin: 33px 83px 0px 0px;
    border-radius: 8px;
    border-right-width: 10px;
}

#maquina{
    width: 100%;
    height: 300px;
    padding-right: 83px;
    margin: 15px 83px 0px 5px;
    border-radius: 8px;
}

.card-title{
    color: rgb(41, 40, 40);
    font-size: 1.7rem;
}

.text-body-secondary{
    padding-top: 10px;
    color: #5c5b5b;
    font-size: 12PX;
}  

#fim{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(219, 215, 215);
    color: rgb(51, 51, 57);
    font-weight: bold;
    font-size: 16px;
    padding: 20px 0px 10px 20px;
    margin-bottom: 0px;
}

.list-group-item{
    padding: 11px 16px 15px 16px;
    border-bottom: none;
    border-top: none;
}


#publicidade{
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}

#lateral{
    margin-top: 30px;
    margin-right: 0px;
    width: 400px;
    height: 100%;
    padding-left: 0px;
}

#mulher{
    border-radius: 8px;
    margin-left: 0px;
    margin-top: 20px;
    
}

.col-md-1{
    padding-left: 10px;
}

#inicio{
    border: 1px solid rgb(219, 215, 215);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(196, 23, 12);
    font-weight: bold;
    padding: 0px;
}


  .header-navegacao .logo {
    width: 30px;
    height: 30px;
  }

  .header-navegacao .header-title {
    padding: 0 30px;
  }

  .dropbtn {
    background: #C4170C;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 83px;
    font-weight: bold;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 250px;
    margin-top: -100px;
    transition: 0.5s;
    overflow-y: scroll;
    height: 650px;
  }

  .dropdown-content a {
    color: rgb(141, 138, 138);
    padding: 10px 10px 5px 22px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    overflow-y: auto;
  }

  .dropdown-content a:first-child{
    margin-top: 20px;
  }
  
.show {
    display: block;
}
  
.menu{
    display: flex;
    justify-content: right;
    color: #ffff;
    font-size: 13px;
    text-decoration: none;
    margin-top: -18px;
    
}

.divv {
    width: 20px;
    height: 2px;
    background-color: #FFFF;
    margin: 0px 5px 4px 05px;
    text-decoration: none;
}

.first{
    width: 20px;
    height: 2px;
    background-color: #FFFF;
    margin-left: 5px;
    margin-bottom: 3.5px;
    margin-top: 30px;
    text-decoration: none;
}

.firstN{
    padding: 10px;
    font-size: 15px;
    width: 260px;
    background: #ffff;
    margin: 0px;
}
